
* {
    -fx-primary : #2A2E37;
    -fx-secondary : #cc3535;
    -fx-third : #8a3030;
    -fx-primarytext : #cc3535;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;

}

.button{
    -fx-border-width: 0px 0px 0px 5px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-text-fill: #4E4F52;
    -fx-background-color: #282E34;
    -fx-font-weight:700;
    -fx-font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}


.button:pressed{
    -fx-text-fill: white;
}
.button:hover{
    -fx-background-color: #929292;
    -fx-text-fill: white;
}


.custom-pane{
    -fx-border-color: #8a3030;
}

.button{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
}

.button:hover, .button:focused{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-third;
    -fx-text-fill: -fx-primary;
}

.label {
     -fx-text-fill: derive(#cc3535, 20%);
}
